<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Titel -->
	  <title>scroll Indicator</title>


<!--start ""Insert this in your HTML"" -------------------------------------------
  -----------------> 

    <!-- CSS-->
    <link href="gh_scrollIndicator.css" rel="stylesheet">

  </head>

  <body>

    <div class="toggle">
      <input type="checkbox" name="toggle-indicators" value="on" onclick="return IndicatorSelection();">scroll indicators<br>  
    </div>
    
    <div class ="indicators" id="indicatorsID">
        <h1>Scroll indikator
          <div id="content">v0px</div>
        </h1>
    </div>

  <!-- Javascript -->
    <script src="gh_scrollIndicator.js" ></script>



    
<!--end ""Insert this in your HTML"" -------------------------------------------
  -----------------> 






  </body>
</html>