/*
html {
  height: 200%;
}
*/


h1 {
    position: fixed;
    z-index: 2;
    margin: 25px 0px;
    padding: 20px 10px ;
    width: 10%;
    background-color: aliceblue;
    opacity: .5;
    border-radius: 20px;
  }
  
  #indicatorsID {
    opacity: 0;
  }

/*   toggle button */

  .toggle{
    position: fixed;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

/*   
.toggle{
    opacity: 0;
  }